asttokens==2.4.1
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
decorator==5.1.1
executing==2.0.1
lxml==5.3.0
numpy==2.1.2
opencv-python==4.10.0.84
packaging==24.1
Pillow==10.4.0
pyautogui==0.9.54
pygetwindow==0.0.9
pymsgbox==1.0.9
pyperclip==1.9.0
pyscreeze==1.0.1
pytesseract==0.3.13
pytweening==1.2.0
requests==2.32.3
six==1.16.0
urllib3==2.2.2
